@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

// 셀메드란
.about-wrap-1 {
	position: relative;
	.bg {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include mdq-max(lg) {
			top: 50%;
		}
	}
}
.common-desc {
	font-size: rem(26);
	color: $gray-6;
	@include mdq-max(lg) {
		font-size: rem(20);
	}
}
.ad-img {
	position: relative;
	.model-img {
		position: absolute;
		bottom: 0;
		right: 0;
		@include mdq-max(lg) {
			position: unset;
		}
	}
}

.about-wrap-2 {
	background: url('../images/sub/about2-bg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	height: 660px;
	@include mdq-max(md) {
		height: 300px;
	}
	.container {
		position: relative;
		width: 100%;
		height: 100%;
		@include mdq-max(xxl) {
			width: 90%;
		}
	}
	.desc {
		font-size: rem(26);
		font-weight: 200;
		color: $white;
		position: absolute;
		bottom: 20%;
		left: 0;
		@include mdq-max(md) {
			font-size: rem(20);
		}
	}
}

.about-wrap-3 {
	position: relative;
	min-height: 100vh;
	@include mdq-max(sm) {
		min-height: 50vh;
	}
	.bg {
		position: absolute;
		top: 5%;
		left: 0;
		@include mdq-max(lg) {
			top: 20%;
		}
	}
	.container {
		position: relative;
		@include mdq-max(lg) {
			width: 90%;
		}
	}
	.common-desc {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		@include mdq-max(lg) {
			width: 100%;
			right: unset;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.about-wrap-4 {
	background: url('../images/sub/about4-bg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	height: 940px;
	@include mdq-max(md) {
		height: 500px;
	}
	.container {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
.about-wrap-5 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mdq-max(lg) {
		flex-direction: column;
	}
	.txt-bx {
		width: 60%;
		@include mdq-max(lg) {
			width: 100%;
		}
	}
	.icon-list {
		display: flex;
		align-items: center;
		column-gap: em(20);
		@include mdq-max(lg) {
			justify-content: center;
			column-gap: em(15);
		}
		img {
			@include mdq-max(lg) {
				width: 30%;
			}
		}
	}
	.img-bx {
		width: 45%;
		@include mdq-max(lg) {
			width: 100%;
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

// ceo인사말
.ceo-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include mdq-max(lg) {
		flex-direction: column;
		row-gap: em(30);
	}
	.img-bx {
		width: 45%;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		column-gap: 10px;
		@include mdq-max(xxl) {
			width: 50%;
		}
		@include mdq-max(xl) {
			width: 35%;
		}
		@include mdq-max(lg) {
			flex-wrap: inherit;
			width: 100%;
			flex-direction: column;
		}
		img {
			@include mdq-max(xl) {
				width: 100%;
			}
		}
	}
	.txt-bx {
		width: 50%;
		@include mdq-max(lg) {
			width: 100%;
		}
		.hello {
			font-size: rem(30);
			font-weight: 400;
			color: $gray-6;
			@include mdq-max(lg) {
				font-size: rem(22);
			}
		}
		.title {
			font-size: rem(30);
			font-weight: 400;
			color: $color-1;
			@include mdq-max(lg) {
				font-size: rem(20);
			}
		}
	}
	.desc {
		font-size: rem(20);
		color: $gray-6;
	}
	.name {
		font-size: rem(30);
		font-weight: 600;
		color: $gray-1;
	}
}

// 연혁
.history-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: em(20);
	.logo {
		width: 45%;
		@include mdq-max(lg) {
			width: 100%;
		}
		img {
			display: block;
			margin: 0 auto;
			@include mdq-max(lg) {
				width: 20%;
			}
			@include mdq-max(sm) {
				width: 40%;
			}
		}
	}
}
.history-list {
	width: 55%;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		background-color: green;
		width: 1px;
		height: 100%;
		display: block;
		left: 10.5%;
		top: 0;
		@media all and (max-width: 1500px) {
			left: 10.6%;
		}
		@media all and (max-width: 1400px) {
			left: 12%;
		}
		@media all and (max-width: 1200px) {
			left: 13.5%;
		}
		@media all and (max-width: 1100px) {
			left: 14.5%;
		}
		@include mdq-max(lg) {
			display: none;
		}
	}
	@include mdq-max(lg) {
		width: 100%;
		padding-top: em(50);
	}
	.box {
		display: flex;
		column-gap: em(20);
		margin-bottom: 5.5rem;
		@include mdq-max(lg) {
			flex-direction: column;
			padding-bottom: em(50);
			margin-bottom: 0;
		}
		&:last-child {
			margin-bottom: 0;
			.year {
				&::after {
					display: none;
				}
			}
		}
	}
	.year {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 160px;
		height: 160px;
		flex: 0 0 160px;
		border-radius: 50%;
		background-color: $color-1;
		color: $white;
		font-size: rem(36);
		font-weight: 500;
		position: relative;
		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 100%;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// 	width: 1px;
		// 	height: 130%;
		// 	background-color: $color-1;
		// 	@include mdq-max(lg) {
		// 		display: none;
		// 	}
		// }
		@include mdq-max(lg) {
			flex: 0 0 100px;
			width: 100px;
			height: 100px;
			font-size: rem(24);
		}
	}
	.content {
		display: flex;
		flex-direction: column;
		row-gap: em(10);
		padding-top: em(80);
		width: 80%;
		@include mdq-max(lg) {
			width: 100%;
			padding-top: em(20);
		}
		.list {
			display: flex;
			column-gap: 10px;
		}
	}
	.month {
		font-size: rem(20);
		color: $gray-6;
	}
	.txt {
		font-size: rem(20);
		color: $gray-6;
	}
}

// 특허 매그니픽팝업 커스텀
.mfp-counter {
	display: none;
}
.mfp-content {
	.mfp-figure {
		figure {
			.mfp-img {
				// width: 140%;
				// max-width: 140%;
				// max-height: auto !important;
			}
		}
	}
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: pointer;
}
.mfp-title {
	padding-right: 0;
	.title {
		font-size: rem(24);
		line-height: 1.2;
	}
	.number {
		font-size: 12px;
		font-weight: 300;
	}
}

// 오시는 길
.map {
	height: 700px;
	@include mdq-max(lg) {
		height: 500px;
	}
	@include mdq-max(sm) {
		height: 350px;
	}
}
.come-list {
	margin-bottom: em(50);
	@include mdq-max(lg) {
		margin-bottom: em(25);
	}
	.container {
		display: flex;
		justify-content: center;
		column-gap: 5px;
		padding-left: 0;
		padding-right: 0;
	}
	.link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 178px;
		height: 56px;
		font-size: rem(20);
		color: $gray-1;
		background: $white;
		border: 1px solid $gray-d;
		@include mdq-max(sm) {
			font-size: rem(18);
		}
		&.on {
			color: $white;
			background: $color-1;
			border: 1px solid $color-1;
		}
	}
}
.map-wrap {
	position: relative;
	// @include mdq-max(lg) {
	// 	padding: 0 20px;
	// }
}
.map-box {
	position: absolute;
	bottom: -85px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	background: $color-1;
	width: 800px;
	height: 180px;
	@include mdq-max(lg) {
		width: 85%;
		height: auto;
		padding: 25px 0;
		bottom: -70px;
	}
	.inner {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 55%;
		height: 100%;
		margin: 0 auto;
		@include mdq-max(lg) {
			width: 85%;
		}
	}
	.list {
		display: flex;
		.tit {
			font-size: rem(20);
			color: $white;
			font-weight: 600;
			width: 25%;
			@include mdq-max(sm) {
				font-size: rem(18);
			}
		}
		.desc {
			font-size: rem(20);
			color: $white;
			width: 75%;
			@include mdq-max(sm) {
				font-size: rem(18);
			}
		}
	}
}
