@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

.region-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -3px;
	.region-item {
		flex: 1 1 auto;
		max-width: 100%;
		border: 1px solid #ddd;
		margin: 0 3px;
		background-color: white;
		cursor: pointer;
		transition: all 0.3s;
		height: 50px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: rem(22);
		&.on,
		&:hover {
			background-color: $color-1;
			color: white;
			border-color: $color-1;
		}
		@include mdq-max(xxl) {
			margin-top: 5px;
			flex: 1 1 10%;
			max-width: 10%;
		}
		@include mdq-max(lg) {
			flex: 1 1 15%;
			max-width: 15%;
		}
		@include mdq-max(md) {
			flex: 1 1 18%;
			max-width: 18%;
		}
		@include mdq-max(sm) {
			flex: 1 1 23%;
			max-width: 23%;
		}
	}
	&-eng {
		.region-item {
			font-size: rem(16);
			@include mdq-max(md) {
				font-size: rem(14);
			}
		}
	}
}

.map {
	border: 1px solid #ddd;
	.location-btn {
		position: absolute;
		right: 40px;
		top: 44px;
		z-index: 20;
		background-color: white;
		width: 50px;
		height: 50px;
		i {
			font-size: 20px;
		}
		@include mdq-max(lg) {
			display: none;
		}
	}
}

.map-txt {
	font-size: rem(20);
	font-weight: 500;
	.search-keyword {
		color: $color-1;
	}
}

.store-infowindow {
	margin: 0 auto;
	border: 1px solid $color-1;
	background-color: #fff;
	box-shadow: 0.5em 0.5em 1em rgb(0 0 0 / 20%);
	text-align: left;
	padding: 1.25rem;
	letter-spacing: -0.03em;
	max-width: 42.5rem;
	position: relative;
	@include mdq-max(lg) {
		max-width: 17rem;
	}
}

.store-infowindow__title {
	display: flex;
	align-items: center;
	font-size: rem(24);
	margin-bottom: 10px;
	img {
		width: 100px;
		margin-right: 5px;
	}
	@include mdq-max(lg) {
		align-items: flex-start;
		flex-direction: column;
	}
}

.store-infowindow__subtit {
	font-size: rem(18);
	border-top: 1px solid #ddd;
	margin-top: 15px;
	padding-top: 15px;
}

.store-infowindow__table {
	tr {
		vertical-align: top;
	}
	.tel {
		color: $color-1;
		font-weight: 500;
	}
}

.store-infowindow__close {
	position: absolute;
	right: 10px;
	top: 10px;
}
