/* Made by Masstige */
.product-view-wrap {
  display: flex;
  flex-wrap: wrap;
}
.product-view-wrap .product-view__img {
  display: block;
  position: relative;
  overflow: hidden;
  flex: 0 0 50%;
  max-width: 50%;
}
.product-view-wrap .product-view__img::after {
  content: "";
  display: block;
  padding-bottom: 74.07%;
}
.product-view-wrap .product-view__img > img,
.product-view-wrap .product-view__img iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.product-view-wrap .product-view__info {
  flex: 1 1 auto;
  width: 1%;
  padding-left: 60px;
}
.product-view-wrap .product-view__info .product-title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #006a5a;
}
.product-view-wrap .product-view__info .product-des {
  font-size: 1.125rem;
  letter-spacing: -0.025em;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  height: 3em;
}
.product-view-wrap .product-view__info .more-link {
  font-size: 0.875rem;
  letter-spacing: -0.025em;
  color: #222;
}
.product-view-wrap .product-view__info .more-link i {
  font-weight: bold;
}
.product-view-wrap .product-view__info .table--st1 {
  width: 100%;
  table-layout: fixed;
}
.product-view-wrap .product-view__info .table--st1 th,
.product-view-wrap .product-view__info .table--st1 td {
  padding: 0.4em;
  text-align: left;
  vertical-align: top;
}
.product-view-wrap .product-view__info .table--st1 th {
  font-size: 1.0625em;
  font-weight: 500;
  color: #006a5a;
}
.product-view-wrap .product-view__info .table--st1 th .tit {
  position: relative;
  padding-left: 10px;
}
.product-view-wrap .product-view__info .table--st1 th .tit:before {
  content: "";
  position: absolute;
  display: inline;
  flex: 0 0 auto;
  width: 3px;
  height: 3px;
  background-color: #006a5a;
  margin: 0;
  transform: none;
  margin-right: 0.5em;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.product-view-wrap .product-view__info .table--st1 td {
  font-size: 1.0625em;
  color: #777;
}
.product-view-wrap .product-view__info .btn-type-01 {
  border-radius: 30px;
}
.product-view-wrap .product-view__info .btn-type-02 {
  border-radius: 30px;
}
@media all and (max-width: 1024px) {
  .product-view-wrap {
    flex-direction: column;
  }
  .product-view-wrap .product-view__img {
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
  }
  .product-view-wrap .product-view__info {
    width: 100%;
    padding-left: 0;
    margin-top: 3rem;
  }
  .product-view-wrap .product-view__info .product-title {
    margin-bottom: 0.5rem;
  }
  .product-view-wrap .product-view__info .product-icon {
    margin-bottom: 0.5rem;
  }
  .product-view-wrap .product-view__info .product-icon .share {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }
  .product-view-wrap .table--st1 colgroup {
    display: none;
  }
  .product-view-wrap .table--st1 tr,
.product-view-wrap .table--st1 th,
.product-view-wrap .table--st1 td {
    display: block;
    width: 100%;
  }
}

.product-content {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.product-thumbs-slider .swiper-control {
  display: flex;
  justify-content: flex-end;
}
.product-thumbs-slider .swiper-control .now {
  color: #006a5a;
  font-weight: bold;
}
.product-thumbs-slider .swiper-control .swiper-button i {
  font-weight: bold;
}
.product-thumbs-slider .img_box {
  display: block;
  position: relative;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
.product-thumbs-slider .img_box::after {
  content: "";
  display: block;
  padding-bottom: 71.6417910448%;
}
.product-thumbs-slider .img_box > img,
.product-thumbs-slider .img_box iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.product-thumbs-slider .img_box:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0 solid #006a5a;
  transition: border-width 0.2s;
  z-index: 5;
}
.product-thumbs-slider .img_box:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-thumbs-slider .img_box:hover:before {
  border-width: 3px;
}
.product-thumbs-slider .txt_box .tit {
  text-align: center;
  margin-top: 1rem;
}

.product-section .btn-type-02 {
  border-radius: 30px;
}
/*# sourceMappingURL=product.css.map */